
  <div class="card">
    <div class="card-header text-center">
      <h4>
        <i class="fas fa-star"></i> Top Ventes <i class="fas fa-star"></i>
      </h4>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <a href="product link">
          <li class="list-group-item text-center clickable">
            <img src="product image" style="height: 40px" />
            <p>name<br /><i>x Ventes</i></p>
          </li>
        </a>
      </ul>
    </div>
  </div>
